<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 col-md-12">
                <div class="footer-about">
                    <div class="footer-logo">
                        <a href="#">MULTFILMS</a>
                    </div>
                    <div class="footer-text">
                        <p> Смотрите лучшие мультфильмы и <br> мульсериалы онлайн в одном месте</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-md-6">
                <div class="footer-menu">
                    <span class="footer-menu-title">Популярные категории</span>
                    <ul>

                        <li>
                            <a href="#">Новинки 2024</a>
                        </li>
                        <li>
                            <a href="#">Мультфильмы 2023</a>
                        </li>
                        <li>
                            <a href="#">Про новый год</a>
                        </li>
                        <li>
                            <a href="#">
                                Про котов
                            </a>
                        </li>
                        <li>
                            <a href="#">Про животных</a>
                        </li>
                        <li>
                            <a href="#">
                                Про машинки
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-md-6">
                <div class="footer-menu ">
                    <span class="footer-menu-title">Студии</span>
                    <ul>

                        <li><a href="#">Disney</a></li>
                        <li><a href="#">Pixar</a></li>

                        <li><a href="#">Netflix</a></li>
                        <li><a href="#">Marvel</a></li>
                        <li><a href="#">Marvel</a></li>
                        <li><a href="#">Marvel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

