@model ResetPasswordVM


<section id="login">
    <div class="container">
        <div class="title">
            <h2>Восстановить пароль</h2>
        </div>
        <form asp-action="ResetPassword" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Token" />
            <div class="form" style="margin-bottom:0px;padding-bottom:5px;">

                <label for="name">Новый пароль:</label>
                <input asp-for="NewPassword" class="form-input"autocomplete="off">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form" style="margin-bottom: 0px;padding-bottom:5px;">
                <label for="name">Подтвердите пароль</label>
                <input asp-for="ConfirmPassword" type="password" class="form-input"autocomplete="off">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>


            </div>
            <button type="submit" style="width: 220px; height: 40px;margin-bottom:10px;color: white; background-color: #16a185; " class="btn register-btn mt-3">Отправить</button>
        </form>
    </div>
</section>