@model CartoonEditVM
<div class="container mt-5" style="width:60%">
    <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">

        <div class="form-group">
            <img src="~/assets/images/cartoons/@Model.ExistImage" style="width:200px;height:100px ;margin-bottom:10px" />
            <label for="Image"></label>
            <input class="form-control" id="name" asp-for="UploadImage">
            <span asp-validation-for="UploadImage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="name"> Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="name"> Year</label>
            <input type="text" class="form-control" id="name" asp-for="Year">
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="name"> PlayerUrl</label>
            <input type="text" class="form-control" id="name" asp-for="PlayerUrl">
            <span asp-validation-for="PlayerUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="name"> Plot</label>
            <input type="text" class="form-control" id="name" asp-for="Plot">
            <span asp-validation-for="Plot" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="roles">Category</label>
            <select asp-for="SelectedCategoryId" class="form-control" asp-items="Model.CategoryOptions">
                <option value="">Select one option</option>
            </select>
            <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="roles">Studios</label>
            <select asp-for="SelectedStudioIds" class="form-control" asp-items="Model.StudioOptions" multiple>
                <option value="">Select one option</option>
            </select>
            <span asp-validation-for="SelectedStudioIds" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="roles">Genres</label>
            <select asp-for="SelectedGenreIds" class="form-control" asp-items="Model.GenreOptions" multiple>
                <option value="">Select one option</option>
            </select>
            <span asp-validation-for="SelectedGenreIds" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="roles">Countries</label>
            <select asp-for="SelectedCountryIds" class="form-control" asp-items="Model.CountryOptions" multiple>
                <option value="">Select one option</option>
            </select>
            <span asp-validation-for="SelectedCountryIds" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label for="roles">Collections</label>
            <select asp-for="SelectedCollectionIds" class="form-control" asp-items="Model.CollectionOptions" multiple>
                <option value="">Select one option</option>
            </select>
            <span asp-validation-for="SelectedCollectionIds" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="roles">Directors</label>
            <select asp-for="SelectedDirectorIds" class="form-control" asp-items="Model.DirectorOptions" multiple>
                <option value="">Select one option</option>
            </select>
            <span asp-validation-for="SelectedDirectorIds" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label for="roles">Actors</label>
            <select asp-for="SelectedActorIds" class="form-control" asp-items="Model.ActorOptions" multiple>
                <option value="">Select one option</option>
            </select>
            <span asp-validation-for="SelectedActorIds" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>

</div>